##################################################
# Ignores all files except .tex files
##################################################

*
!*/
!.gitignore
!*.tex
!*.pdf
!*.synctex.gz
!*.cls
!*.def
!*.sty
!README.md
